@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-right {
    0% {
        opacity: 0;
        transform: translateX(-30rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}